<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography Project | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Steganalysis Tool</h1>
        <p>Make sure your files don't hold hidden messages</p>
        
        <a href="/analyze" class="transparent-btn">
            <i class="fas fa-search"></i> Analyze File
        </a>
        
    </div>
</body>
</html>

