<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract a Message</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Extract a Hidden Message from an Image</h1>
        <form action="/decode" method="post" enctype="multipart/form-data">
            <label class="file-input">
                <input type="file" name="image" required>
            </label>
            <input type="password" name="key" placeholder="Decryption Key" required>
            <button type="submit" class="transparent-btn">Extract Message</button>
        </form>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert">
      {% for msg in messages %}
        <p style="color: red;">{{ msg }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    </div>
</body>
</html>
