<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steganography Tool</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Steganography Tool</h1>
        <h2>(Only used for images)</h2>
        <p>Choose an action below:</p>
        <a href="/encode"><button class="transparent-btn">Hide a Message</button></a>
        <a href="/decode"><button class="transparent-btn">Extract a Message</button></a>
    </div>
</body>
</html>
